body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    color: black;
}
header{
    background-color: lightgray;
    text-align: center;
    color: black;
}
header h1{
    color:black
}
main{
    width: 1200px;
    margin: 20px auto;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-container div{
    background-color: rgba(146, 137, 137, 0.637);
    padding: 20px;
    flex: 28%;
    margin: 10px;
    border: black solid 2px;
}

@media screen and (max-width: 1180px) {
    main {
        width: 90%;
    }
    .flex-container{
        flex-direction: column;
    }
}

li{
    font-size: 18px;
}